#photo-grid {
	.item {
		margin-bottom: 10px;
		overflow: hidden;
		position: relative;
		width: 100%;
	
		img {
			width: 100%;
		}

		.overlay {
			background-color: black;
			bottom: 0;
			color: white;
			height: 0;
			position: absolute;
			transition: height 0.5s;
			width: 100%;

			h1 {
				float: left;
				height: 0;
				margin: 0;
				padding: 10px;
				transition: height 0.5s;
			}
		}

		&:hover {
			.overlay {
				height: 50px;

				h1 {
					height: 50px;
				}
			}
		}
	}
}

@media (min-width: 500px) {
	.csscolumns #photo-grid {
		column-count: 2;
		column-gap: 10px;

		.item {
			width: initial;
		}
	}

	.no-csscolumns #photo-grid {
		.item {
			width: 49%;
			margin: 0 .5% 10px;
			float: left;

			img {
				object-fit: cover;
				height: 200px;
			}
		}
	}
}

@media (min-width: 1170px) {
	.csscolumns #photo-grid {
		column-count: 3;
	}

	.no-csscolumns #photo-grid {
		.item {
			width: 32%;
			margin: 0 .66% 10px;
		}
	}
}

h1 {
	font-family: sans-serif;
	font-size: 28px;
}

ul {
	margin-bottom: 0;
	
	ul {
		list-style: none;
	}
}

.gallery-info {
	max-width: 33%;
	float: left;

	.gallery-title {
		margin-top: 0;
	}
}

.photo-gallery {
	max-width: 900px;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 1em;
}

.top-buttons {
	float: right;
}

.categories-section {
	padding: 1em 0;

	.categories.dropdown {
		float: left;
		margin-right: 5px;
	}

	.sub-category {
		padding-left: 0;

		.sub-category-item {
			a {
				display: block;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				padding: 3px 0 3px 40px;
				color: #333;
				text-decoration: none;
				font-weight: 400;

				&:hover {
					background-color: #f5f5f5;
					color: #262626;
				}
			}
		}
	}
}

#selected-categories {
	list-style: none;

	li {
		display: inline-block;
		border: 1px solid #ddd;
		border-radius: 15px;
		padding: 5px 15px;
		margin: 0 0 0 3px;
	}

	.selected-category-item {
		&:hover {
			cursor: pointer;
			background-color: #555;
			color: #fff;
		}
	}
}

.top {
	width: 100%;
}

