/////////////////////
//////  GRID  ///////
/////////////////////
$overlay-bg-color: #ddd;
$overlay-text-color: #000;
$overlay-height: 50px;
$grid-spacing: 10px;

#photo-grid {
	.item {
		margin-bottom: $grid-spacing;
		width: 100%;
	
		img {
			width: 100%;
		}

		.overlay {
			background-color: $overlay-bg-color;
			color: $overlay-text-color;

			h1 {
				margin: 0;
				float: left;
				padding: 10px;
			}

			.photo-controls {
				padding: 8px;
				float: right;
			}
		}
	}
}

.no-touch {
	.item {
		overflow: hidden;
		position: relative;

		.overlay {
			bottom: 0;
			height: 0;
			position: absolute;
			transition: height 0.5s;
			width: 100%;
	
			h1 {
				height: 0;
				transition: height 0.5s;
			}
		}
	
		&:hover {
			.overlay {
				height: $overlay-height;
	
				h1 {
					height: $overlay-height;
				}
			}
		}
	}
}

.touch {
	.item {
		box-shadow: 0 0 2px #555;
	}
	.overlay {
		height: $overlay-height;

		h1 {
			height: $overlay-height;
			float: left;
		}
	}
}

@media (min-width: 500px) {
	.csscolumns #photo-grid {
		column-count: 2;
		column-gap: $grid-spacing;

		.item {
			width: initial;
		}
	}

	.no-csscolumns #photo-grid {
		.item {
			width: 49%;
			margin: 0 .5% $grid-spacing;
			float: left;

			img {
				object-fit: cover;
				height: 200px;
			}
		}
	}
}

@media (min-width: 1170px) {
	.csscolumns #photo-grid {
		column-count: 3;
	}

	.no-csscolumns #photo-grid {
		.item {
			width: 32%;
			margin: 0 .66% $grid-spacing;
		}
	}
}

/////////////////////
////  CONTROLS  /////
/////////////////////

h1 {
	font-family: sans-serif;
	font-size: 28px;
}

ul {
	margin-bottom: 0;
	
	ul {
		list-style: none;
	}
}

.gallery-info {
	max-width: 33%;
	float: left;

	.gallery-title {
		margin-top: 0;
	}
}

.photo-gallery {
	max-width: 900px;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 1em;
}

.top-buttons {
	float: right;
}

.categories-section {
	padding: 1em 0;

	.categories.dropdown {
		float: left;
		margin-right: 5px;
	}

	.sub-category {
		padding-left: 0;

		.sub-category-item {
			a {
				display: block;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				padding: 3px 0 3px 40px;
				color: #333;
				text-decoration: none;
				font-weight: 400;

				&:hover {
					background-color: #f5f5f5;
					color: #262626;
				}
			}
		}
	}
}

#selected-categories {
	list-style: none;

	li {
		display: inline-block;
		border: 1px solid #ddd;
		border-radius: 15px;
		padding: 5px 15px;
		margin: 0 0 0 3px;
	}

	.selected-category-item {
		&:hover {
			cursor: pointer;
			background-color: #555;
			color: #fff;
		}
	}
}

.top {
	width: 100%;
}

