/////////////////////
////  CONTROLS  /////
/////////////////////
.gallery-info {
	padding: 0 5px;
}

.photo-gallery {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1em;
}

.right-buttons {
	float: right;

	.btn-group {
		float: right;
	}
}

.top-buttons {
	width: 100%;
	padding: 15px 5px;
}

.categories-section {
	float: right;

	.categories.dropdown {
		margin-right: 5px;
	}

	.sub-category {
		padding-left: 0;
	}
}

#selected-categories {
	float: left;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;

	.selected-category-item {
		text-decoration: underline;
	}

	li {
		display: inline-block;
		padding: 7px 2px;
	}
}

#view-selected-button {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 999;

	.badge {
		margin-left: 5px;
		position: relative;
		top: -2px;
	}
}

/////////////////////
//////  GRID  ///////
/////////////////////
$fallback-overlay-bg-color: #ddd;
$overlay-bg-color: rgba(125,125,125,0.75);
$overlay-text-color: #000;
$overlay-height: 50px;
$grid-spacing: 10px;

#photo-grid {
	.item {
		margin-bottom: $grid-spacing;
		width: 100%;
		background-color: grey;
		z-index: 1;
	
		img {
			@media (max-width: 600px) {
				width: 100%;
				height: 100%;
			}
			z-index: 3;
		}

		.overlay {
			background-color: $fallback-overlay-bg-color;
			background-color: $overlay-bg-color;
			color: $overlay-text-color;

			h1 {
				margin: 0;
				float: left;
				padding: 10px;
			}

			.photo-controls {
				padding: 8px;
				float: right;
			}
		}
	}
}

.no-touch {
	.item {
		overflow: hidden;
		position: relative;

		.overlay {
			bottom: 0;
			height: 0;
			position: absolute;
			transition: height 0.25s;
			width: 100%;
	
			h1 {
				height: 0;
				transition: height 0.25s;
			}
		}
	
		&:hover {
			.overlay {
				height: $overlay-height;
	
				h1 {
					height: $overlay-height;
				}
			}
		}
	}
}

.touch {
	.item {
		box-shadow: 0 0 2px #555;
	}
	.overlay {
		height: $overlay-height;

		h1 {
			height: $overlay-height;
			float: left;
		}
	}
}

@media (min-width: 600px) {
	/////////////////////
	//// FLOAT + OF /////
	/////////////////////
	// #photo-grid {
	// 	.item {
	// 		width: 49%;
	// 		margin: 0 .5% $grid-spacing;
	// 		float: left;

	// 		img {
	// 			object-fit: cover;
	// 			height: 200px;
	// 		}
	// 	}
	// }

	///////////////
	// COLUMNS ////
	///////////////
	// .csscolumns #photo-grid {
	// 	column-count: 2;
	// 	column-gap: $grid-spacing;

	// 	.item {
	// 		width: initial;
	// 	}
	// }

	// .no-csscolumns #photo-grid {
	// 	.item {
	// 		width: 49%;
	// 		margin: 0 .5% $grid-spacing;
	// 		float: left;

	// 		img {
	// 			object-fit: cover;
	// 			height: 200px;
	// 		}
	// 	}
	// }

	////////////////
	//// FLEXBOX ///
	////////////////
	.flexbox #photo-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.item {
			width: initial;
			margin: 0 5px $grid-spacing;

			img {
				object-fit: cover;
			}

			.btn {
				font-size: 12px;
			}
		}
	}
}

@media (min-width: 1170px) { 
	//////////////////
	// FLOAT + OF ////
	//////////////////
	// #photo-grid {
	// 	.item {
	// 		width: 32%;
	// 		margin: 0 .66% $grid-spacing;
	// 	}
	// }

	/////////////
	// COLUMNS //
	/////////////
	// .csscolumns #photo-grid {
	// 	column-count: 3;
	// }
	// .no-csscolumns #photo-grid {
	// 	.item {
	// 		width: 32%;
	// 		margin: 0 .66% $grid-spacing;
	// 	}
	// }
}

.cssanimations {
	.loader,
	.loader:after {
		border-radius: 50%;
		width: 5em;
		height: 5em;
		z-index: 2;
	}

	.loader {
		font-size: 10px;
		position: absolute;
		left: 40%;
		top: 40%;
		z-index: -1;
		text-indent: -9999em;
		border-top: 1.1em solid rgba(255, 255, 255, 0.2);
		border-right: 1.1em solid rgba(255, 255, 255, 0.2);
		border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
		border-left: 1.1em solid #eee;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: load 1.1s infinite linear;
		animation: load 1.1s infinite linear;
	}

	@-webkit-keyframes load {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@keyframes load {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}
